/*
 * @Author: Conghao Wong
 * @Date: 2025-04-01 15:14:24
 * @LastEditors: Conghao Wong
 * @LastEditTime: 2025-04-01 15:18:05
 * @Github: https://cocoon2wong.github.io
 * Copyright 2025 Conghao Wong, All Rights Reserved.
 */

.team-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.team-card {
    flex: 1 1 200px;
}
